.dark>.desktop {
    position: relative;

    .sidebar_container {
        position: relative;

        .sidebar {
            height: 100%;
            width: 275px;
            background-color: rgb(10, 6, 20);
            position: fixed;
            margin-top: 60px;
            padding: 10px;
            padding-top: 20px;
            transition: 0.4s;
            top: 0;
            overflow-y: auto;
            box-sizing: border-box;
            z-index: 9999;
        }

        .sidebar::-webkit-scrollbar {
            width: 12px;
            background-color: rgb(10, 6, 20);
        }

        .sidebar::-webkit-scrollbar-track {
            margin-top: 10px;
            margin-bottom: 8vh;
        }

        .sidebar::-webkit-scrollbar-thumb {
            background-color: #818B99;
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }

        .show {
            transform: translateX(0);
        }

        .noshow {
            transform: translateX(-100%);
        }

        .item_container {
            transition: 0.2s;
            padding: 10px;
            padding-top: 0;
        }

        .with_buttom_border {
            transition: 0.2s;
            border-bottom: 1px solid rgb(81, 81, 81);
            margin-bottom: 10px;
        }

        .sidebar_item {
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            transition: 0.2s;
        }

        .sidebar_item:hover {
            background-color: rgb(33, 33, 33);
        }

        .selected {
            background-color: rgb(36, 21, 96);
        }

        .sidebar_item>.icon {
            width: 20px;
            height: 20px;
            padding: 5px;
            margin: 5px;
            transition: 0.2s;
            border-radius: 8px;
        }

        .sidebar_item>.icon>img {
            width: 20px;
            height: 20px;
        }

        .item_container>a {
            text-decoration: none;
        }

        .sidebar_item>.label {
            margin-left: 10px;
        }

        .sidebar_item>.label>b {
            line-height: 40px;
            color: #FFF;
            transition: 0.2s;
        }

        .sidebar_footer_container {
            position: absolute;
            bottom: 40px;
            left: 10px;
            width: calc(100% - 30px);

            .sidebar_footer {
                position: relative;
                top: 50px;
                bottom: 0;
                transition: 0.4s;   
                margin: 10px;
                margin-right: 0;
                background-color: rgb(10, 6, 20);
                border-radius: 10px;
                z-index: 2;

                .banner {
                    width: 100%;
                    height: 70px;
                    border-radius: 10px 10px 0px 0px;

                    .avatar img {
                        position: relative;
                        width: 70px;
                        left: 15px;
                        top: 30px;
                        border: 5px solid rgb(10, 6, 20);
                        border-radius: 100px;
                        transition: 0.4s;
                    }
                }

                .username {
                    transition: 0.4s;
                    margin-left: 15px;
                    line-height: 40px;
                    color: white;
                    display: flex;

                    .discriminator {
                        margin-left: 5px;
                        color: rgb(104, 104, 104);
                        line-height: 40px;
                    }
                }

                .arrow_icon {
                    height: 30px;
                    width: 30px;
                    display: block;
                    margin-left: auto;
                }

                .arrow_icon img {
                    width: 20px;
                    margin: 5px;
                    transition: 0.4s;
                }
            }
        }

        .sidebar_footer_container:hover > .sidebar_footer {
            transform: translateY(-50px);
            transition: 0.4s;
        }

        .sidebar_footer_container:hover > .sidebar_footer > .arrow_icon > img {
            transform: rotate(180deg);
            transition: 0.4s;
        }
        
        .sidebar_footer_options {
            position: relative;
            bottom: 50px;
            margin: 10px;
            margin-right: 0px;
            margin-bottom: 0;
            z-index: 1;  
        }

        .sidebar_footer_option {
            background-color: rgb(33, 32, 38);
            padding-top: 40px;
            border-radius: 0px 0px 10px 10px;
        }

        .sidebar_footer_options a {
            position: relative;
            color: white;
            display: flex;
            justify-content: center;
            line-height: 30px;
            bottom: 5px;
            margin: 5px;
            margin-top: 10px;
            padding: 5px;
            transition: 0.2s;
            border-radius: 10px;
        }

        .sidebar_footer_options.logout a:hover {
            background-color: rgba(255, 87, 92, 0.4)
        }

        .sidebar_footer_options.login a:hover {
            background-color: rgba(206, 252, 126, 0.4)
        }

        .sidebar_footer_options a img {
            width: 30px;
        }

        .sidebar_footer_options a {
            text-decoration: none;
        }
    }
}