.sidebar {
    height: 100%;
    width: 250px;
    background-color: rgb(10, 6, 20);
    position: fixed;
    padding: 10px;
    padding-top: 80px;
}

.item_container {
    padding: 10px;
    padding-top: 0;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.sidebar_item {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    transition: 0.2s;
}

.sidebar_item:hover {
    background-color: rgb(33, 33, 33);
}

.sidebar_item > .icon {
    width:  20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    background-color: aqua;
    border-radius: 8px;
}

.sidebar_item > .icon > img {
    width: 20px;
    height: 20px;
}

.sidebar_item > .label {
    margin-left: 10px;
}

.sidebar_item > .label > b {
    line-height: 40px;
    color: #FFF;
    text-decoration: none;
}