.light {
    .desktop_sidebar {
        height: 100%;
        width: 250px;
        background-color: rgb(204, 198, 221);
        position: fixed;
        padding: 10px;
        padding-top: 80px;
        transition: 0.4s
    }
    
    .show {
        transform: translateX(0);
    }
    .noshow {
        transform: translateX(-100%);
    }

    .desktop_item_container {
        transition: 0.2s;
        padding: 10px;
        padding-top: 0;
    }
    
    .desktop_with_buttom_border {
        transition: 0.2s;
        border-bottom: 1px solid rgb(255, 255, 255);
        margin-bottom: 10px;
    }

    .desktop_sidebar_item {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        transition: 0.2s;
    }
    
    .desktop_sidebar_item:hover {
        background-color: rgb(218, 218, 218);
    }
    
    .desktop_selected {
        background-color: rgb(167, 151, 230);
    }

    .desktop_sidebar_item > .desktop_icon {
        width:  20px;
        height: 20px;
        padding: 5px;
        margin: 5px;
        transition: 0.2s;
        border-radius: 8px;
    }
    
    .desktop_sidebar_item > .desktop_icon > img {
        width: 20px;
        height: 20px;
    }
    
    .desktop_item_container > a {
        text-decoration: none;
    }

    .desktop_sidebar_item > .desktop_label {
        margin-left: 10px;
    }
    
    .desktop_sidebar_item > .desktop_label > b {
        line-height: 40px;
        color: #000000;
        transition: 0.2s;
    }
}

.dark {
    .desktop_sidebar {
        height: 100%;
        width: 250px;
        background-color: rgb(10, 6, 20);
        position: fixed;
        padding: 10px;
        padding-top: 80px;
        transition: 0.4s
    }
    
    .show {
        transform: translateX(0);
    }
    .noshow {
        transform: translateX(-100%);
    }

    .desktop_item_container {
        padding: 10px;
        padding-top: 0;
    }

    .desktop_with_buttom_border {
        transition: 0.2s;
        border-bottom: 1px solid rgb(81, 81, 81);
        margin-bottom: 10px;
    }
    
    .desktop_sidebar_item {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        transition: 0.2s;
    }
    
    .desktop_sidebar_item:hover {
        background-color: rgb(33, 33, 33);
    }
    
    .desktop_selected {
        background-color: rgb(36, 21, 96);
    }

    .desktop_sidebar_item > .desktop_icon {
        width:  20px;
        height: 20px;
        padding: 5px;
        margin: 5px;
        transition: 0.2s;
        border-radius: 8px;
    }
    
    .desktop_sidebar_item > .desktop_icon > img {
        width: 20px;
        height: 20px;
    }
    
    .desktop_item_container > a {
        text-decoration: none;
    }

    .desktop_sidebar_item > .desktop_label {
        margin-left: 10px;
    }
    
    .desktop_sidebar_item > .desktop_label > b {
        line-height: 40px;
        color: #FFF;
        transition: 0.2s;
    }
}
